.sidebar {
    background-color: rgba(4, 4, 4);
    padding: 24px 24px 0 24px;
    position: fixed;
    height: 100%;
    width: 330px;
}

.sidebar .brand {
    padding-bottom: 18px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    border-bottom: 1px solid #303030;
}

.sidebar .brand svg {
    width: 70px;
}

.sidebar .menu .menu--item {
    font-size: 1.5rem;
    position: relative;
    /* Needed for the .active state to add the background */
}

.sidebar .menu.menu-extra .menu--item:not(:first-child) {
    margin-top: 5px;
}

.sidebar .menu .menu--item a,
.sidebar .sidebar--download-app a {
    text-decoration: none;
    color: #B3B3B3;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    transition: all 350ms;
}

.sidebar .menu.menu-extra .menu--item a img {
    opacity: 0.7;
    transition: all 350ms;
}

.sidebar .menu.menu-extra .menu--item:hover a img {
    opacity: 1;
}

.sidebar .menu .menu--item.active a,
.sidebar .menu .menu--item:hover a,
.sidebar .sidebar--download-app:hover a {
    color: #fff;
}

/* Active state of the menu  item, adds a background color to the element */
.sidebar .menu .menu--item.active:before {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    left: 8px;
    left: -16px;
    /* -(Sidebar's padding left) + 8px */
    right: -16px;
    /* -(Sidebar's padding left) + 8px */
    background: rgb(40, 40, 40);
    z-index: -1;
    border-radius: 5px;
}

.menu--item--title,
.sidebar--download-app a span {
    font-size: 0.88rem;
    font-weight: 700;
    margin-left: 15px;
}

.sidebar--header {
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
    font-size: 1.0rem;
    letter-spacing: 1.5px;
    color: #B3B3B3;
}

.sidebar .separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid #303030;
    margin-top: 16px;
}

.sidebar .menu.menu-playlist .menu--item--title {
    font-weight: 400;
    margin-left: 0;
    /*
        Add ellipsis when the text is bigger than the width of the sidebar
        Read more: https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow
    */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar .menu.menu-playlist a {
    cursor: default;
}

.sidebar--download-app {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Start the menu item with a gray color */
.sidebar .menu .menu--item a,
.sidebar .sidebar--download-app a {
    color: #B3B3B3;
    /*
        All changes will take 350ms to finish. 
        Read More: https://css-tricks.com/almanac/properties/t/transition/
    */
    transition: all 350ms;
}

/* When the user hovers -> change the color */
.sidebar .menu .menu--item.active a,
.sidebar .menu .menu--item:hover a {
    color: #fff;
}

/*
    Changing the opacity of the image gives the brighter effect. This happens because the background is dark.
*/
.sidebar .menu.menu-extra .menu--item a img {
    opacity: 0.7;
    transition: all 350ms;
}

.sidebar .menu.menu-extra .menu--item:hover a img {
    opacity: 1;
}

.sidebar--tabs {
    font-size: 0.88rem;
    letter-spacing: 1.5px;
    color: #B3B3B3;
    margin: 1.5rem 0 1.3rem 0;

}

.sidebar--tabs--playlist,
.sidebar--tabs--album,
.sidebar--tabs--artist {
    margin-right: 15px;
    outline: 0;
    border: 0;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(45, 45, 45);
    padding: 10px 14px 10px 12px;
    line-height: 0.75rem;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.sidebar--tabs--album:hover,
.sidebar--tabs--artist:hover,
.sidebar--tabs--playlist:hover {
    background-color: rgb(49, 49, 49);
    color: #fff;
}

.menu--item--tabs {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #B3B3B3;
}

.sidebar .menu.menu-extra .menu--item--tabs:hover{
    background-color: rgb(49, 49, 49);
    color: #fff;
}

.menu--item--image {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.menu--item--image img {
    width: 100%;
    height: 100%;
}

.artist img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.menu--item--text {
    flex: 1;
}

.menu--item--text .menu--item--title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.menu--item--subtitle {
    font-size: 14px;
    margin: 0;
}